{% extends 'layouts/main.html' %}
{% block title %}{{ venue.name }} - Venue{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6 p-5">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{ venue.name }}</h1>
      </div>
    </div>
    <div class="p-3">
      <p><i class="fas fa-id-card"></i> Venue ID = {{ venue.id }}</p>
      <p><i class="fas fa-user-friends"></i> max {{ venue.capacity }} people</p>
      <p><i class="fas fa-city"></i> {{ venue.city }}</p>
      <p><i class="fas fa-phone"></i> {{ venue.phone }}</p>
      <p><i class="far fa-envelope"></i> {{ venue.email }}</p>
      <p><i class="fab fa-instagram"></i> {{ venue.insta_link }}</p>
    </div>
  </div>
  <div class="col-sm-6 p-5">
    <div class="d-flex justify-content-around ">
      {% for feature in venue.features %}
      <h5><span class="badge badge-secondary">{{ feature.description }}</span></h5>
      {% endfor %}
    </div>
    <img class="img-fluid" src="{{ venue.img_link }}" alt="photo of {{ venue.name }}">
  </div>
</div>
{% endblock %}