{% extends 'layouts/main.html' %}
{% block title %}Find an Instructor{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6 p-5">
  <h2>Instructors</h2>

    {% for instructor in instructors %}
    <a href="/instructors/{{ instructor.id }}" class="m-2">
    <div class="card" >
        <div class="card-body">{{ instructor.name }}
     
    </div>
  </div>
</a>
    {% endfor %}
 
</div>
<div class="col-sm-6 p-5">
  <img class="img-fluid" src="/static/img/yoga_on_beach.jpg" alt="group doing yoga on the beach">
</div>
</div>
{% endblock %}