{% extends 'layouts/main.html' %}
{% block title %}{{ instructor.name }} - Instructor{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6 p-5">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">{{ instructor.name }}</h1>
      </div>
    </div>
    <div class="p-3">
      <p><i class="fas fa-city"></i> {{ instructor.city }}</p>
      <p><i class="fas fa-phone"></i> {{ instructor.phone }}</p>
      <p><i class="far fa-envelope"></i> {{ instructor.email }}</p>
      <p><i class="fab fa-instagram"></i> {{ instructor.insta_link }}</p>
    </div>
  </div>
  <div class="col-sm-6 p-5">
    <div class="d-flex justify-content-around ">
      {% for type in instructor.class_types %}
      <h5><span class="badge badge-secondary">{{ type.title }}</span></h5>
      {% endfor %}
    </div>
    <img class="img-fluid" src="{{ instructor.img_link }}" alt="photo of {{ instructor.name }}">
  </div>
</div>
{% endblock %}